---
import Title from './Title.astro'
import Shape from './icons/Shape.astro'
import { Image } from 'astro:assets';
import Logo from '../assets/images/alienpenguin-logo-image-1.png'

type Props = {
	title: string
}

const { title } = Astro.props
---

<div class='flex justify-start items-center gap-2 title'>
	<img src={Logo.src} alt="Logo" style='width: 100px; height: auto;'/>
	<Title>{title}</Title>
</div>
